/* Functional layout classes */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

/* Custom utility for no selection during drag */
.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* Icon utility */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.icon-add {
    mask-image: url('../assets/icons/add-circle.svg');
    -webkit-mask-image: url('../assets/icons/add-circle.svg');
}

.icon-delete {
    mask-image: url('../assets/icons/delete.svg');
    -webkit-mask-image: url('../assets/icons/delete.svg');
}

.icon-replace {
    mask-image: url('../assets/icons/replace.svg');
    -webkit-mask-image: url('../assets/icons/replace.svg');
}

.icon-duplicate {
    mask-image: url('../assets/icons/duplicate.svg');
    -webkit-mask-image: url('../assets/icons/duplicate.svg');
}

.icon-save {
    mask-image: url('../assets/icons/save.svg');
    -webkit-mask-image: url('../assets/icons/save.svg');
}

.icon-open {
    mask-image: url('../assets/icons/open.svg');
    -webkit-mask-image: url('../assets/icons/open.svg');
}

.icon-settings {
    mask-image: url('../assets/icons/settings.svg');
    -webkit-mask-image: url('../assets/icons/settings.svg');
}

.icon-text {
    mask-image: url('../assets/icons/text.svg');
    -webkit-mask-image: url('../assets/icons/text.svg');
}

.icon-page {
    mask-image: url('../assets/icons/page.svg');
    -webkit-mask-image: url('../assets/icons/page.svg');
}

.icon-divider {
    mask-image: url('../assets/icons/divider.svg');
    -webkit-mask-image: url('../assets/icons/divider.svg');
}

.icon-keyboard {
    mask-image: url('../assets/icons/keyboard.svg');
    -webkit-mask-image: url('../assets/icons/keyboard.svg');
}